<!DOCTYPE html>
<html>
<body>
<h1>Display Recent user Details</h1>
<%#binding.pry%>
Firstname:<%=@welcome.firstname%><br />
Lastname:<%=@welcome.lastname%><br />
Desig:<%=@welcome.desig%><br />
Origin:<%=@welcome.origin%><br />

 <%=link_to "Take me home",root_path %>
</body>
</html>